{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    {% block title %}

    {% endblock title %}
    <script src="{% static 'js/csrf.js' %}"></script>

    {% block head_scripts %}
    {% endblock head_scripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
</head>
<body>

{% include 'base_frames/header.html' %}

{#<iframe src="{% static 'mp3/y2mate.com - If Playboi Cartis Cancun was on the Sega Genesis INSTRUMENTAL.mp3' %}" width="0" height="0" allowfullscreen frameborder="0"></iframe>#}


{% block content %}

{% endblock content %}

{% block any_js %}

{% endblock any_js %}

{% include 'base_frames/footer.html' %}

<!-- Navigation-->
</body>
</html>
