{% extends 'base_frames/base.html' %}
{% load static %}
{% block title %}
    <title>Cart</title>
{% endblock title %}

{% block head_scripts %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->

    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
{% endblock head_scripts %}


{% block content %}
    <div class="container">

        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="product-list row gx-4 gx-lg-5 row-cols-3 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Состояние</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Убрать с корзины</th>
                        </tr>
                        </thead>
                        <tbody class="cart-table-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <hr>

        <button class="btn btn-outline-success" onclick="test()">click!</button>
    </div>
{% endblock content %}

{% block any_js %}
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    <script type="text/javascript">
        window.onload = function () {
            get_cart_products();
            get_cart_total()
        }
    </script>
{% endblock any_js %}

