html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper .content {
    flex: 1 1 auto;
}
.add-to-cart {
    border-radius: 0;
}
@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}